.fexplore_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.fexplore-bar {
    display: none;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
}

.fsearch-bar {
    position: absolute;
    top: 4vh;
    left: 20vw;
    width: 48vw;
    height: 5vh;
    padding-left: 10vw;
    padding-right: 2vw;
    border-radius: 50px;
    border: 1px solid #92ABB2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    font-size: 21px;
    font-family: "Roboto-Thin";
    color: #92ABB2;

}

/* .fexplore_list {
    margin: auto;
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: 12vh;
    padding-top: 1.5vh;
    left: 0;
    width: 100%;
    height: 5.5vh;
    padding-inline-start: 2vw;
    overflow-x: auto;
    white-space: nowrap;
}

.fexplore_tabs {
    opacity: 0.5;
    font-family: 'Roboto-Medium';
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, transparent, transparent) !important;
    color: #92ABB2;
    border-radius: 50px;

}

.fexplore_tabs.tab-link.active {
    opacity: 1 !important;
    color: white !important;
    background-image: linear-gradient(to right, #1A84EF, #FF0054) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.fwhite_space {
    width: 30vw;
    height: 1vh;
} 
*/

/*-----------------------------*/
.swiper-3 {
    position: absolute !important;
    top: calc(19vh - 60px) !important;
    height: 60px !important;
}

.fexplore_bg_div {
    position: absolute;
    top: 10px;
    left: 32.5vw;
    width: 35vw;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    background-image: linear-gradient(to right, #1A84EF, #dd136a) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.swiper-slide {
    box-sizing: border-box;
}

.fexplore_wrapper {
    position: absolute;
    z-index: 100;
    top: 16px;
    left: 0;
    height: 40px !important;
    width: 100vw !important;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.fexplore_text {
    opacity: 0.5;
    font-family: 'Roboto-Medium';
    font-size: 23px;
    color: #92ABB2;
    height: 30px !important;
    /* background-color: rgba(0, 0, 255, 0.2); */
}

.swiper-slide span {
    text-align: center;
    display: block;
    font-size: 21px;
}


.swiper-pagination-bullets {
    display: none !important;
}

.fexplore_text.swiper-slide-next {
    opacity: 1 !important;
    color: white !important;
}
