.home_parent {
	height: calc(100 * var(--custom-vh));
	width: 100vw;
	overflow-x: hidden;
}

.ptr_loading {
	margin-top: -100px;
	width: 100vw;
	height: 100px;
	background-color: rgba(0, 119, 255, 0.5);
	opacity: 0;
	transition-duration: 0.3s;
}



.ftitle {
	position: absolute;
	top: calc(0 * var(--custom-vh) + 10px);
	left: 0;
	width: 100%;
	text-align: center;
	color: #1a84ef;
	font-family: "Roboto-Bold";
	font-size: 35px;
}

.faccount {
	position: absolute;
	top: calc(0 * var(--custom-vh) + 17px);
	right: 10px;
	width: 35px;
	height: 35px;
	background-image: url("../src/icons/Account@3x.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 5000;
	transition-duration: 0.4s;
}

#tab1 {
	overflow-x: hidden;
}

#tab2 {
	overflow-x: hidden;
}

.fstories_title {
	position: absolute;
	top: calc(5 * var(--custom-vh));
	left: 2vw;
	color: #92abb2;
	font-family: "Roboto-Bold";
	font-size: 18px;
}

.fstory_list {
	margin: auto;
	list-style: none;
	list-style-type: none;
	position: absolute;
	top: calc(7 * var(--custom-vh));
	padding-top: calc(1.5 * var(--custom-vh));
	left: 0;
	width: 100%;
	height: calc(10.5 * var(--custom-vh));
	padding-inline-start: 2vw;
	overflow-x: auto;
	white-space: nowrap;
}

.fstory_list li,
.fexplore_list li {
	display: -webkit-inline-box;
}

.fstory_block {
	text-align: center;
	width: calc(6.5 * var(--custom-vh));
	height: calc(6.5 * var(--custom-vh));
	border: double 3px transparent;
	border-radius: 50%;
	background-image: linear-gradient(white, white), linear-gradient(white, white);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	margin-right: 3vw;
	margin-left: 3vw;
	display: flex;
	justify-content: center;
}

.fstory_list .unread {
	background-image: linear-gradient(white, white),
		linear-gradient(#1a84ef, #ff0054) !important;
}

.unread_shadow {
	z-index: -15;
	position: absolute;
	height: calc(6.5 * var(--custom-vh));
	width: calc(6.5 * var(--custom-vh));
	border-radius: 50%;
	background-image: linear-gradient(#1a84ef, #ff0054);
	filter: blur(10px);
	/* margin-top: calc(1.75 * var(--custom-vh));
	margin-left: calc(1 * var(--custom-vh)); */
	opacity: 0;
}

.fstory_list .unread .unread_shadow {
	opacity: 0.35 !important;
}

.fstory_pic {
	position: absolute;
	margin-top: calc(0.25 * var(--custom-vh));
	/* margin-left: calc(1 * var(--custom-vh)); */
	height: calc(6 * var(--custom-vh));
	width: calc(6 * var(--custom-vh));
	/* display: inline-flex; */
	/* vertical-align: middle; */
	object-fit: cover;
	border-radius: 50%;
	/* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

.mystory_pic {
	margin-left: 0 !important;
	margin-top: calc(1.75 * var(--custom-vh)) !important;
	/* margin-top: calc(1.75 * var(--custom-vh)) !important; */
	/* margin-left: auto !important; */
	height: calc(3 * var(--custom-vh)) !important;
	width: calc(3 * var(--custom-vh)) !important;
	object-fit: contain !important;
}

.fstory_user {
	white-space: nowrap;
	color: #92abb2;
	font-size: 13px;
	font-family: "Roboto-Regular";
	margin-top: calc(7.5 * var(--custom-vh));
}

.fnoshadow {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.fplus {
	position: absolute;
	margin-left: calc(4.5 * var(--custom-vh));
	margin-top: calc(5.2 * var(--custom-vh));
	z-index: 100;
	height: calc(2 * var(--custom-vh));
	width: calc(2 * var(--custom-vh));
	background-image: url("../src/icons/+@3x.png"),
		linear-gradient(#1a84ef, #ff0054);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 2px solid white;
}

.fstory_white {
	width: calc(5.5 * var(--custom-vh));
	height: calc(5.5 * var(--custom-vh));
	background-color: white;
	border-radius: 50%;
}

.list-block {
	overflow-x: hidden;
	margin: 0 !important;
	padding-bottom: calc(32 * var(--custom-vh));
}

.preloader {
	width: 22px !important;
	height: 22px !important;
	margin-top: -11px !important;
	margin-left: -11px !important;
}

.fneed_connect {
	position: absolute;
	height: calc(7 * var(--custom-vh) + 15px);
	width: 15vw;
	top: calc(93 * var(--custom-vh));
	z-index: 5000;
	/* background-color: rgba(255, 0, 0, .05); */
}

#ptr_arrow {
	opacity: 0;
}

.fred_dot_toolbar {
	position: absolute;
	z-index: 1;
	width: 3vw;
	height: 3vw;
	border-radius: 3vw;
	background-color: #ff0054;
	border: 1px solid red;
	display: none;
	pointer-events: none;
}

.fred_dot_toolbar_new_notif {
	top: 3vw;
	left: 93vw;
}

.fred_dot_toolbar_explore {
	top: 3vw;
	left: 28vw;
	display: block;
	pointer-events: none;
}

.fred_dot_toolbar_fdj {
	top: calc(13 * var(--custom-vh));
	left: 15vw;
	display: block;
	z-index: 2;
	width: 1.5vw;
	height: 1.5vw;
	border-radius: 1.5w;
	pointer-events: none;
}

#menu1>.toolbar {
	bottom: auto !important;
	top: calc(93 * var(--custom-vh) - 15px);
}

.loading_circle {
	position: absolute;
	margin-top: calc(1.5 * var(--custom-vh));
	left: calc(50vw - (2.5 * var(--custom-vh)));
	height: calc(5 * var(--custom-vh));
	width: calc(5 * var(--custom-vh));
	background-image: url("../src/icons/loading_speed_clockwise.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateZ(0);
}

.tick_icon {
	position: absolute;
	margin-top: calc(1.5 * var(--custom-vh));
	left: calc(50vw - (2 * var(--custom-vh)));
	height: calc(4 * var(--custom-vh));
	width: calc(4 * var(--custom-vh));
	background-image: url("../src/icons/tick.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.preloader {
	margin-top: calc(4 * var(--custom-vh)) !important;
	margin-left: 0px !important;
	top: 0 !important;
	left: 50vw !important;
	height: calc(4 * var(--custom-vh)) !important;
	width: calc(4 * var(--custom-vh)) !important;
	border: 3px solid #1a84ef !important;
	border-top-color: transparent !important;
	border-radius: 50% !important;
	animation: loading-child 1s linear infinite !important;
	box-sizing: content-box !important;
	background-image: none !important;
}

.pull-to-refresh-arrow {
	background-image: url("../src/icons/ptr_arrow.png") !important;
	width: 20px !important;
	height: 20px !important;
	left: calc(50% - 10px) !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
	background-size: contain !important;
}

.empty_tl {
	display: none;
	position: absolute;
	top: calc(20 * var(--custom-vh));
	left: 0;
	width: 100vw;
	height: calc(80 * var(--custom-vh));
	user-select: none;
}

.empty_tl>.title {
	position: absolute;
	top: calc(25 * var(--custom-vh));
	left: 0;
	width: 100vw;
	font-family: "Roboto-Bold";
	text-align: center;
	font-size: 20px;
	color: #1a84ef;
}

.empty_tl>.txt {
	position: absolute;
	top: calc(30 * var(--custom-vh));
	left: 10vw;
	width: 80vw;
	text-align: center;
	font-family: "Roboto-Regular";
	color: #92abb2;
}

.empty_tl>.btn {
	position: absolute;
	top: calc(37 * var(--custom-vh));
	left: 15vw;
	width: 70vw;
	height: calc(5 * var(--custom-vh));
	background: #1a84ef;
	line-height: calc(5 * var(--custom-vh));
	text-align: center;
	font-family: "Roboto-Regular";
	color: white;
	border-radius: 25px;
	font-size: 15px;
}

/* top margins for iOS device */
@supports (-webkit-touch-callout: none) {
	.ftitle {
		top: 40px !important;
		font-size: 25px;
	}

	.faccount {
		top: 47px !important;
	}

	.fred_dot_toolbar_new_notif {
		top: 5vw;
		left: 92vw;
		width: 3vw;
		height: 3vw;
	}

	.fred_dot_toolbar_fdj {
		top: calc(14 * var(--custom-vh));
		right: 25vw;
		display: block;
		z-index: 2;
		width: 1.5vw;
		height: 1.5vw;
		border-radius: 1.5vw;
		pointer-events: none;
	}
}

/* @media (max-height: 700px) { */
.mobile700 .ftitle {
	top: 17px !important;
	font-size: 23px;
}

.mobile700 .faccount {
	top: 20px !important;
	width: 30px;
	height: 30px;
}

.mobile700 .fstory_user {
	font-size: 11px;
}

/* } */