.fmessages-bar {
	display: none;
}

.loading_chat_list {
	top: calc(44 * var(--custom-vh));
}

.loading_message {
	top: calc(44 * var(--custom-vh));
}

.no_results_messages {
	margin-top: calc(40 * var(--custom-vh));
}

#InAppNotifNewMessageIcone {
	position: absolute;
	display: none;
	width: calc(3 * var(--custom-vh));
	left: 1vh;
	top: calc(0.5 * var(--custom-vh));
}

#InAppNotifNewMessageUsername {
	display: none;
	position: absolute;
	left: calc(5.5 * var(--custom-vh));
	top: calc(-1.5 * var(--custom-vh));
	font-size: 4.2vw;
	color: #FFF;
	font-family: 'Roboto-Bold';
}

#InAppNotifNewMessage {
	position: absolute;
	left: calc(5.5 * var(--custom-vh));
	top: calc(1 * var(--custom-vh));
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fmessages-search-bar {
	position: absolute;
	top: calc(7.5 * var(--custom-vh));
	left: 25px;
	width: 64vw;
	height: 40px;
	line-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 40px;
	/* padding-right: 2vw; */
	/* text-align: center; */
	border-radius: 50px;
	border: 1px solid #92abb2;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	/* font-size: 15px; */
	font-family: "Roboto-Light";
	font-size: 15px !important;
	color: #92abb2;
	-webkit-appearance: none;
}

.fmessages-search-bar::placeholder {
	font-size: 15px;
	font-family: "Roboto-Light";
	color: #92abb2;
}

.fmessages-bar>.search_icon {
	opacity: 1;
	top: calc(7.5 * var(--custom-vh));
	left: 28px;
	height: 40px;
	width: 40px;
	background-size: 50%;
}

.fmessages-bar>label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	height: calc(8 * var(--custom-vh));
	line-height: calc(8 * var(--custom-vh));
	font-family: "Roboto-Bold";
	font-size: 20px;
	color: #1a84ef;
}


#new_conversation {
	position: absolute;
	height: 44px;
	width: 44px;
	right: calc(2.5* var(--custom-vh));
	top: calc(7.5* var(--custom-vh) - 2px);
	background: #1A84EF;
	border-radius: 22px;
	box-shadow: 0px 3px 6px rgba(26, 132, 239, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 25px;
}


#block_chat_contrainer {
	margin-top: calc(14 * var(--custom-vh)) !important;
	padding-bottom: 12vh;
	overflow-y: scroll;
}

.fblock_chat {
	position: relative;
	width: calc(100vw - 20px);
	height: calc(10 * var(--custom-vh));
	background-color: rgba(26, 132, 239, 0.28);
	transition-duration: 0.2s;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
}

.fblock_chat:active {
	background-color: rgba(26, 132, 239, 0.28);
}

.fphoto_block_chat {
	position: absolute;
	width: calc(7 * var(--custom-vh));
	height: calc(7 * var(--custom-vh));
	top: calc(1.5 * var(--custom-vh));
	left: 2vw;
	border-radius: calc(7 * var(--custom-vh));
	/* border: 1.5px solid rgb(255, 255, 255); */
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); */
	background-size: cover;
	background-position: center;
}

.fconversation_title {
	position: absolute;
	top: calc(2.5 * var(--custom-vh));
	left: 20vw;
	font-size: 16px;
	color: #495969;
	font-family: "Roboto-Regular";
}

.fblock_chat_text {
	font-family: "Roboto-Regular";
	position: absolute;
	top: calc(5.5 * var(--custom-vh));
	left: 20vw;
	color: #9095A4;
	font-size: 13px;
	width: 60vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fblock_chat_dots {
	position: absolute;
	right: 10px;
	width: 20px;
	height: 15px;
	top: 5px;
	display: block;
	object-fit: contain;
}

.fblock_chat_time {
	position: absolute;
	top: calc(6.5 * var(--custom-vh));
	right: 10px;
	color: #9095A4;
	font-size: 11px;
	font-family: "Roboto-Regular";
	padding-left: 10px;
}

.fconversation_title {
	position: absolute;
	top: calc(2.5 * var(--custom-vh));
	left: 20vw;
	font-size: 17px;
	color: #495969;
	font-family: "Roboto-Regular";
}

.fblock_chat_text {
	font-family: "Roboto-Regular";
	position: absolute;
	top: calc(6 * var(--custom-vh));
	left: 20vw;
	color: #9095A4;
	font-size: 13px;
	width: 60vw;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.fblock_chat_dots {
	position: absolute;
	right: 10px;
	width: 20px;
	height: 15px;
	top: 5px;
	display: block;
	object-fit: contain;
}

.fblock_chat_time {
	position: absolute;
	top: calc(6 * var(--custom-vh));
	right: 10px;
	color: #DBDBEF;
	font-size: 13px;
	font-family: "Roboto-Regular";
	padding-left: 10px;
}





/*------------------------------------------POPUP create-conversation-----------------------------*/

#create-conversation_back_button {
	position: absolute;
	left: calc(1 * var(--custom-vh));
	top: calc(1 * var(--custom-vh));
}

#create-conversation_title {
	position: absolute;
	text-align: center;
	top: calc(1 * var(--custom-vh));
	width: 100vw;
	font-size: 18px;
	color: #1a84ef;
	pointer-events: none;
}


.create-conversation-search-bar {
	position: absolute;
	top: calc(4.5 * var(--custom-vh));
	left: 17vw;
	width: 60vw;
	height: auto;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 4vw;
	padding-right: 2vw;
	border-radius: 50px;
	border: 1px solid #92abb2;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	font-size: 21px;
	font-family: "Roboto-Light";
	color: #92abb2;
	-webkit-appearance: none;
}

.create-conversation-search-bar::placeholder {
	font-size: 18px;
	font-family: "Roboto-Light";
	color: #92abb2;
}

.fconversation_block_utilisateur_list {
	position: absolute;
	padding: 0;
	width: 100vw;
	top: calc(10 * var(--custom-vh));
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid #92abb2;
	;
	overflow-y: scroll;
}


/*------------------------------------------FIN POPUP create-conversation-----------------------------*/



/*------------------------------------------POPUP MESSAGE--------------------------------------------*/

#message_back_button {}

#chat_photo {
	position: absolute;
	border-radius: calc(6 * var(--custom-vh));
	background-size: cover;
	background-position: center;
	width: calc(6 * var(--custom-vh));
	height: calc(6 * var(--custom-vh));
	left: 45vw;
	top: calc(1 * var(--custom-vh));
}

#chat_title {
	position: absolute;
	text-align: center;
	top: 7vh;
	width: 100vw;
	font-size: 16px;
	color: #1a84ef;

}

#fblock_message_content {
	list-style: none;
	margin-top: 6vh;
	padding: 0;
	padding-top: 1vh;
	width: 100vw;
	height: calc(93% - 10 * var(--custom-vh));
	top: calc(10 * var(--custom-vh));
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid #92abb2;
	;
	overflow-y: scroll;
}

#fblock_message_content li {
	clear: both;
	padding: 3vw;
	margin-bottom: 1vh;
	margin-right: 3vw;
	margin-left: 3vw;
	border-radius: 4vw;
}

.label_block_message_date {
	text-align: center;
	margin: 0;
	color: #92abb2;
}

.block_message {
	background: #fff;
	float: left;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
	max-width: 60vw;
	border-bottom-left-radius: 1vw !important;
}

.block_message_left_photo

/* petite photo à gauche du block chat*/
	{
	width: calc(4.5 * var(--custom-vh));
	height: calc(4.5 * var(--custom-vh));
	border-radius: calc(4.5 * var(--custom-vh));
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	background-size: cover;
	background-position: center;
}

.my_block_message {
	float: right;
	background: #0084ff;
	color: #fff;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
	max-width: 60vw;
	border-bottom-right-radius: 1vw !important;
}

.block_message_seen {
	width: calc(0.5 * var(--custom-vh));
	height: calc(0.5 * var(--custom-vh));
	border-radius: calc(2 * var(--custom-vh)) !important;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	background-size: cover;
	background-position: center;
	float: right;
}

.is_typing {
	background-image: url("../src/icons/is_typing.png");
	background-size: cover;
	background-position: center;
	width: 5vw;
	height: 3vh;
	float: right;
}

/*---------------------Mettre des borders radius comme sur messenger-------------------------*/
.block_message+.my_block_message {
	border-bottom-right-radius: 1vw !important;
}

.my_block_message+.block_message {
	border-bottom-left-radius: 1vw !important;
}

.block_message+.block_message {
	border-bottom-left-radius: 1vw !important;
	border-top-left-radius: 1vw !important;
}

.my_block_message+.my_block_message {
	border-top-right-radius: 1vw !important;
	border-bottom-right-radius: 1vw !important;
}

.block_message:last-of-type {
	border-top-left-radius: 1vw !important;
	border-bottom-left-radius: 4vw !important;
}

.my_block_message:last-of-type {
	border-top-right-radius: 1vw !important;
	border-bottom-right-radius: 4vw !important;
}

.time_and_seen_container {
	font-size: 11px;
	display: none;
}

#div_send_message {
	position: absolute;
	width: 100vw;
	bottom: 6vh;
	z-index: 9999;
	/*display: none;*/
	left: -100vw;
}

#UploadProgressBar {
	position: absolute;
	background: #1a84ef;
	height: 0.5vh;
	top: -0.6vh;
	display: none;
	transition-duration: 0.2s;
}

#SendFromCamera {
	width: 8vw;
	position: absolute;
	left: 5vw;
}

#SendFromGallery {
	width: 8vw;
	position: absolute;
	left: 15vw;
}

#input_send_message {
	position: absolute;
	width: 50vw;
	right: 22vw;
}

#button_send_message {
	position: absolute;
	right: 2vw;
}

/*FIN POPUP MESSAGE*/

.messages_title {
	position: absolute;
	top: 15vh;
	left: 0;
	width: 100vw;
	text-align: center;
	font-family: "Roboto-Bold";
	font-size: 20px;
	color: #1a84ef;
	/* #92abb2; */
}

.messages_coming {
	position: absolute;
	top: 35.7vh;
	left: 0.5vw;
	width: 100vw;
	text-align: center;
	font-family: "Roboto-Bold";
	font-size: 18px;
	color: #92abb2;
	transform: rotate(-5deg);
	opacity: 0.5;
	transform-origin: 50% -100%;
	animation: balance 2s ease-in-out infinite;
	/* #92abb2; */
}

.messages_icon {
	position: absolute;
	top: 28vh;
	left: 20vw;
	width: 60vw;
	height: 15vh;
	background: url("../src/icons/sign.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.5;
	/* transform: rotate(-5deg); */
	transform-origin: 50% 5%;
	animation: balance 2s ease-in-out infinite;
}

.messages_txt {
	position: absolute;
	top: 50vh;
	left: 5vw;
	width: 90vw;
	text-align: center;
	font-family: "Roboto-Regular";
	font-size: 15px;
	color: #92abb2;
	opacity: 0.75;
	/* #92abb2; */
}

.messages_txt>span {
	font-size: 15px;
	color: #1a84ef;
	display: inline;
	text-decoration: underline;
}

@keyframes balance {

	0%,
	100% {
		transform: rotate(-5deg);
	}

	50% {
		transform: rotate(5deg);
	}
}

/* @media (max-height: 700px) { */
.mobile700 .messages_title {
	font-size: 18px;
}

.mobile700 .messages_coming {
	font-size: 16px;
}

.mobile700 .messages_txt>span {
	font-size: 13px;
	color: #1a84ef;
	display: inline;
	text-decoration: underline;
}

/* } */

.mobile600 .messages_title {
	font-size: 18px;
}

.mobile600 .messages_coming {
	font-size: 16px;
}

.mobile600 .messages_txt>span {
	font-size: 13px;
	color: #1a84ef;
	display: inline;
	text-decoration: underline;
}