#mobile_number_form {
    margin-left: 22.5vw;
    width: 55vw;
    margin-top: 5vh;
}

.loading_phone_number {
    position: absolute;
    display: none;
}

#verification_code {
    position: absolute;
    width: 50vw;
    text-align: center;
    left: 25vw;
    top: 51vh;
    border-color: #1a84ef;
    border-top: none;
    border-left: none;
    border-right: none;
    display: none;
}

#erreur_numero {
    position: absolute;
    color: #d8274b;
    width: 100vw;
    text-align: center;
    opacity: 0;
}

#mobile-number {
    border-color: #1a84ef;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    width: unset !important;
    padding-left: unset !important;
    color: #495969;
}


#title_popup_sms {
    margin-top: 6vh;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    color: #1a84ef;
}

#sms_friends_logo {
    width: 50vw;
    margin-left: 25vw;
    margin-top: 6vh;
}

#btn_valider_numero {
    position: absolute;
    bottom: calc(14 * var(--custom-vh));
    left: 25vw;
    width: calc(50vw);
    height: calc(6 * var(--custom-vh));
    background-color: #1a84ef;
    border-radius: 50px;
    color: white;
    line-height: calc(5.5 * var(--custom-vh));
    text-align: center;
    pointer-events: block;
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#ignorer_numero {
    color: #92abb2;
    text-decoration: underline #92abb2;
    position: absolute;
    bottom: 4vh;
    right: 4vh;
}