.splashscreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-image: url("../src/pictures/splash.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	z-index: 99999;
	pointer-events: none;
	transition-duration: 0.5s;
}
