<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flowapp.flow" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FLOW</name>
    <description>
        The Vocal Social Network.
    </description>
    <author email="flowapp.entreprise@gmail.com" href="http://cordova.io">
        FLOW Team
    </author>
    <icon src="www/src/icons/FLOW@3x.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <preference name="StatusBarBackgroundColor" value="#f7f7f8" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="Orientation" value="portrait" />
    <preference name="Hostname" value="app" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-facebook4" spec="4.2.1">
        <variable name="APP_ID" value="502054883649562" />
        <variable name="APP_NAME" value="FLOW" />
        <variable name="FACEBOOK_HYBRID_APP_EVENTS" value="false" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.40.0" />
    </plugin>
    <plugin name="cordova-plugin-googleplus" spec="7.0.0">
        <variable name="REVERSED_CLIENT_ID" value="919976316439-56btn5ool2gunv5oi379c64jf2v950ac.apps.googleusercontent.com" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="cal4l9elcf5ip9m2eh7qt5bs67v2obrv.apps.googleusercontent.com" />
        <variable name="PLAY_SERVICES_VERSION" value="11.8.0" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="twitter-connect-plugin" spec="^0.6.0">
        <variable name="FABRIC_KEY" value="1c7233ea28bcc14682e840d324ff7fbb32b9c038" />
    </plugin>
    <preference name="TwitterConsumerKey" value="JwyvPlw7GcOvE8pXmRvqTyZL3" />
    <preference name="TwitterConsumerSecret" value="6KXFOoLHqUIMwB74yNDcT0gK7WmvoK5wGLYwId4JsV185UIQQT" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-plugin-k-imagecropper" spec="^1.2.0">
        <variable name="ANDROID_SUPPORT_APPCOMPAT_VERSION" value="27.+" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
</widget>
