<?xml version='1.0' encoding='utf-8'?>
<widget id="com.flowapp.flow" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FLOW</name>
    <description>
        The Vocal Social Network.
    </description>
    <author email="flowapp.entreprise@gmail.com" href="http://cordova.io">
        FLOW Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <platform name="android">
        <preference name="android-debuggable" value="false" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="google-services.json" target="google-services.json" />
        <preference name="SplashStatusBarBackgroundColor" value="#007EFF" />
        <preference name="SplashNavigationBarBackgroundColor" value="#FF0054" />
        <preference name="SplashScreen" value="screen" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="FadeSplashScreenDuration" value="0" />
        <resource-file src="res/icon/android/drawable/flow_icone.png" target="app/src/main/res/drawable/flow_icone.png" />
        <resource-file src="res/icon/android/drawable/flow_icone_one_plus.png" target="app/src/main/res/drawable/flow_icone_one_plus.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-hdpi/splash.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-ldpi/splash.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-mdpi/splash.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-xhdpi/splash.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-xxhdpi/splash.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-xxxhdpi/splash.png" />
        <preference name="ShowSplashScreenSpinner" value="true" />
        <preference name="SplashMaintainAspectRatio" value="true" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="StatusBarBackgroundColor" value="#007EEF" />
    <preference name="Hostname" value="app" />
    <preference name="TwitterConsumerKey" value="JwyvPlw7GcOvE8pXmRvqTyZL3" />
    <preference name="TwitterConsumerSecret" value="6KXFOoLHqUIMwB74yNDcT0gK7WmvoK5wGLYwId4JsV185UIQQT" />
    <preference name="deployment-target" value="7.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-facebook4" spec="4.2.1">
        <variable name="APP_ID" value="com.flowapp.flow" />
        <variable name="APP_NAME" value="FLOW" />
        <variable name="FACEBOOK_HYBRID_APP_EVENTS" value="false" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.40.0" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-k-imagecropper" spec="^1.2.0">
        <variable name="ANDROID_SUPPORT_APPCOMPAT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-android-support-gradle-release" spec="^2.1.0">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-support-google-services" spec="^1.3.1" />
    <plugin name="phonegap-plugin-multidex" spec="^1.0.0" />
    <plugin name="phonegap-plugin-push" spec="git+https://github.com/phonegap/phonegap-plugin-push.git" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
    <plugin name="cordova-plugin-browsersync" spec="^1.1.0" />
    <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
        <activity android:name="MainActivity" android:windowSoftInputMode="adjustResize" />
        <application android:debuggable="false" />
    </edit-config>
    <plugin name="cordova-plugin-fullscreen" spec="^1.2.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-plugin-media" spec="^5.0.3" />
    <plugin name="cordova-plugin-audioinput" spec="^1.0.2" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
</widget>
