<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320132615636-3coutred857laub9esk560tgnk0s15ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320132615636-3coutred857laub9esk560tgnk0s15ku</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320132615636-2iki3frhrlaaor5t51ijht0so9srd1qc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNkUgCxCnOXyR2vldHXVO0R87gl2-6i78</string>
	<key>GCM_SENDER_ID</key>
	<string>320132615636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flowapp.flow</string>
	<key>PROJECT_ID</key>
	<string>flow-85249</string>
	<key>STORAGE_BUCKET</key>
	<string>flow-85249.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320132615636:ios:bd7bcc144e601f62661a41</string>
	<key>DATABASE_URL</key>
	<string>https://flow-85249.firebaseio.com</string>
</dict>
</plist>