.ftitle {
    position: absolute;
    top: calc(0* var(--custom-vh));
    left: 0;
    width: 100%;
    text-align: center;
    color: #1A84EF;
    font-family: 'Roboto-Bold';
    font-size: 35px;
}

.faccount {
    position: absolute;
    top:  calc(0* var(--custom-vh) + 7px);
    right: 10px;
    width: 35px;
    height: 35px;
    background-image: url('../src/icons/Account@3x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.fstories_title {
    position: absolute;
    top: calc(5* var(--custom-vh));
    left: 2vw;
    color: #92ABB2;
    font-family: 'Roboto-Bold';
    font-size: 18px;
}

.fstory_list {
    margin: auto;
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: calc(7* var(--custom-vh));
    padding-top: calc(1.5* var(--custom-vh));
    left: 0;
    width: 100%;
    height: calc(10.5* var(--custom-vh));
    padding-inline-start: 2vw;
    overflow-x: auto;
    white-space: nowrap;
}

.fstory_list li,
.fexplore_list li {
    display: inline-block;
}

.fstory_block {
    width: calc(8* var(--custom-vh));
    height: calc(8* var(--custom-vh));
    border: double 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), linear-gradient(white, white);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin-right: 2vw;
    text-align: center;
}

.fstory_list .unread {
    background-image: linear-gradient(white, white), linear-gradient(#1A84EF, #FF0054) !important;
}

.unread_shadow {
    z-index: -15;
    position: absolute;
    height: calc(8* var(--custom-vh));
    width: calc(8* var(--custom-vh));
    border-radius: 50%;
    background-image: linear-gradient(#1A84EF, #FF0054);
    filter: blur(10px);
    /* transform: scale(1); */
    opacity: 0;
}

.fstory_list .unread .unread_shadow {
    opacity: 0.35 !important;
}

.fstory_pic {
    position: absolute;
    margin-top: calc(0.5* var(--custom-vh));
    margin-left: calc(-3.5* var(--custom-vh));
    height: calc(7* var(--custom-vh));
    width: calc(7* var(--custom-vh));
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

.fnoshadow {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.fplus {
    position: absolute;
    margin-left: calc(4.5* var(--custom-vh));
    margin-top: calc(5.2* var(--custom-vh));
    z-index: 100;
    height: calc(2* var(--custom-vh));
    width: calc(2* var(--custom-vh));
    background-image: url("../src/icons/+@3x.png"), linear-gradient(#1A84EF, #FF0054);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid white;
}

.fstory_white {
    width: calc(5.5* var(--custom-vh));
    height: calc(5.5* var(--custom-vh));
    background-color: white;
    border-radius: 50%;
}

.list-block {
    margin: 0 !important;
}

.preloader {
    width: 22px !important;
    height: 22px !important;
    margin-top: -11px !important;
    margin-left: -11px !important;
}

.fneed_connect {
    position: absolute;
    height: calc(7* var(--custom-vh));
    width: 15vw;
    top: calc(93* var(--custom-vh));
    z-index: 5000;
    /* background-color: rgba(255, 0, 0, .05); */
}

#ptr_arrow {
    opacity: 0;
}

.fred_dot_toolbar_new_notif
{
    position: absolute;
    z-index: 1;
    top: 3vw;
    left: 93vw;
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    background-color: #FF0054;
    border : 1px solid red;
    display: none;
    pointer-events: none;
}

#menu1>.toolbar {
    bottom: auto !important;
    top: calc(93* var(--custom-vh));
}