.fbackgroundMonCompte
{
    background-color: white !important;
}

#freturnMonCompte
{
    position: absolute;
    top: 3vh;
    left: 3vw;
}

#fbandeauMonCompte
{
    position: absolute;
    top: 3.5vh;
    background-color: white;
    right: 0vw;
    width: 65vw;
    height: 8vh;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 3px 8px rgba(120, 120, 120, 0.20);
}

#fprofilPicture
{
    position: absolute;
    top: 8vh;
    left: 3.5vw;
    width: 27vw;
    height: 27vw;
    border-radius: 22vw;
    box-shadow: 0px 3.5px 8px rgba(0, 0, 0, 0.20);
    border: solid 3px white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fnameMonCompte
{
    position: absolute;
    color: #1A84EF;
    font-size: 28px;
    left: 36vw;
    top: 13vh;
    font-family:Roboto-Regular;
}

.finfoBandeau
{
    color: #92ABB2;
}

#ffLowBandeau
{
    position: absolute;
    top: 4.5vh;
    right: 50vw;
    font-size: 16px;
    font-family: Roboto-Thin;
}

#ffollowersBandeau
{
    position: absolute;
    top: 4.5vh;
    right: 28vw;
    font-size: 16px;
    font-family: Roboto-Thin;
}

#ffollowingBandeau
{
    position: absolute;
    top: 4.5vh;
    right: 8vw;
    font-size: 16px;
    font-family: Roboto-Thin;
}

#ffLowBandeauChiffre
{
    font-size: 22px;
    position: absolute;
    right: 46vw;
    top: 1vh;
    font-family:Roboto-Regular;
    color: #4A4A4A;
    width: 16vw;
    text-align: center;
}

#ffollowersBandeauChiffre
{
    font-size: 22px;
    position: absolute;
    right: 28vw;
    top: 1vh;
    font-family:Roboto-Regular;
    color: #4A4A4A;
    width: 16vw;
    text-align: center;
}

#ffollowingBandeauChiffre
{
    font-size: 22px;
    position: absolute;
    right: 8vw;
    top: 1vh;
    font-family:Roboto-Regular;
    width: 16vw;
    text-align: center;
}

#fbioMonCompte
{
    color: #92ABB2;
    font-size: 15px;
    position: absolute;
    top: 21vh;
    left: 36vw;
}

#feditProfil
{
    border: solid 1.5px #92ABB2;
    color: #92ABB2;
    border-radius: 22vw;
    width: 105px;
    text-align: center;
    font-size: 14px;
    padding: 2.5px;
    position: absolute;
    top: 25vh;
    left: 45vw;
}

.fnavMonCompte
{
    position: absolute;
    top: 22vh;
    left: 7vw !important;
    font-size: 19px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    width: 85vw !important;
}

.fnavMonCompteTransitionTop
{
    transition-duration: 0.4s !important;
}

.fnavMonCompteTransitionDown
{
    transition-duration: 0.2s !important;
}

.MonCompte
{
    color: #92ABB2 !important;
    filter: none !important;
    width: auto !important;
}

.MonCompte.active
{
    color: #1A84EF !important;
    filter: none !important;
    border-bottom: solid 2px #1A84EF;
    padding-top: 2px;
}

.ftabsMonCompte
{
    position: absolute;
    top: 32vh;
    left: 0vw;
    transition-duration: 0.4s;
}

#privateID
{
    color: #1A84EF;
    position: absolute;
    font-size: 18px;
    left: 36vw;
    top: 17vh;
    font-family:Roboto-Regular;
    opacity: 0.5;
}

.fblockMonCompte
{
    margin-top: 0vh !important;
    padding-left: 0vw !important;
    padding-right: 0vw !important;
}

.fblockMonComptePadding
{
    padding-top: 1.5vh !important;
}

#accountBannerScroll
{
    transition-duration: 0.4s;
}