#copy_button
{
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: calc(2.5 * var(--custom-vh));
    color: #92ABB2;    
    line-height: calc(5 * var(--custom-vh));
    text-align: center;
}

#copy_icon
{
    position: absolute;
    width: calc(3.5 * var(--custom-vh));
    height: calc(3.5px * var(--custom-vh));
    left: 2vw;
    top: 0.75vh;
}

#label_copy_button
{
    font-size: 2.3vh;
}

#delete_button
{
    display: none;
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: calc(8 * var(--custom-vh));
    height: calc(5 * var(--custom-vh));
    color: #FF5D5D;    
    line-height: calc(5 * var(--custom-vh));
    text-align: center;
}

#delete_icon
{ 
    position: absolute;
    width: calc(3.5 * var(--custom-vh));
    height: calc(3.5px * var(--custom-vh));
    left: 2vw;
    top: 0.75vh;
}

#label_delete_button
{
    font-size: 2.3vh;
}

.fclose_option {
	width: 4vw;
	position: absolute;
	right: 4.5vw;
	top: calc(2 * var(--custom-vh));
}

#popup_option_content
{
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}